.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card-act-inscrita {
  width: 300px;
  height: auto;
  min-height: 400px;
  border: 4px solid var(--success-bg-color);
  border-radius: 8px;
  background-color: var(--primary-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  padding: 15px;
  padding-bottom: 80px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card-act-inscrita:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color-hover);
}

.card-act-inscrita-image {
  width: 90%;
  height: auto;
  margin: 10px auto;
}

.card-act-inscrita-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-text-color);
  margin: 10px 0;
}

.card-act-inscrita-date-activity,
.card-act-inscrita-date-inscription,
.card-act-inscrita-scholar-hours,
.card-act-inscrita-location,
.card-act-inscrita-organizer {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  margin: 5px 0 15px;
}

.card-act-inscrita-cancel-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  font-size: 0.9rem;
  background-color: var(--error-bg-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-act-inscrita-cancel-button:hover {
  background-color: var(--error-color-hover);
}

.mensaje-exito {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}
