.barra-navegacion-button {
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 50px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    padding: 6px;
}

.barra-navegacion-button:hover {
    background-color: var(--secondary-bg-color);
    border: 5px;
    border-style: none none solid;
    border-color: var(--primary-bg-color);    
    transition: background-color 0.3s ease!important;

}

.dropdown-toggle {
    background-color: transparent!important;
    width: 150px!important;
    height: 50px!important;
    color: var(--primary-text-color)!important;
    font-weight: bold!important;
    font-size: 20px!important;
    border: none!important;    
}

.dropdown-toggle:hover {
    background-color: var(--secondary-bg-color)!important;
    border: 5px!important;
    border-style: none none solid!important;
    border-color: var(--primary-bg-color)!important;    
    transition: background-color 0.3s ease!important;
}

.dropdown-menu {
    background-color: var(--primary-bg-color)!important;
    font-size: 20px;    
}

.dropdown-item-header {
    font-weight: 400!important;
    font-size: 20px!important;
}

.dropdown-item-header:hover {
    background-color: var(--secondary-bg-color)!important;
    color: var(--primary-text-color)!important;
    font-weight: 400!important;
}

/*Responsive*/
/*Mobile Devices*/
@media only screen and (max-width: 767px) { 
    .logo-pasee{
        display: none;
    }

    .titulo-pasee {
        display: flex;
        font-size: 1.8rem;
    }

    .barra-navegacion-enlaces {
        gap: 0.5rem;
    }

    .barra-navegacion-button {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
  
  }
  
  /* Tablet Devices */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  /* Laptop Devices */
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    
  }
  
  /* Desktop Devices */
  @media only screen and (min-width: 1440px) {
    
  }