.faq-section {
    width: 80%;
    margin: 60px auto!important;
}

.faq-section h1{
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;

}

.accordion {
    --bs-accordion-bg: var(--primary-bg-color)!important;
    --bs-accordion-border-color: var(--primary-bg-color)!important;
    --bs-accordion-active-color: var(--secondary-bg-color)!important;
    --bs-accordion-color: var(--therciary-bg-color)!important;
    --bs-accordion-btn-color: var(--therciary-bg-color)!important;
    
}

.accordion-header {
    border: 1px solid var(--primary-bg-color)!important;
    border-radius: 5px!important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--secondary-bg-color)!important;
    color: var(--primary-text-color)!important;
    font-weight: bold!important;
}

.accordion-item {
    background-color: #fbfcf81e!important;
    color: var(--primary-text-color)!important;
    margin-bottom: 5px!important;
    border: none!important;
}

.accordion-body {
    text-align: justify;
}

.no-results{
    font-size: 22px;
    font-weight: bold;
    color: #666;
    text-align: center;
    margin-top: 20px;
}


/*Responsive*/
/*Mobile Devices*/
@media only screen and (max-width: 767px) { 
    
  
}

/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Laptop Devices */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {

}

/* Desktop Devices */
@media only screen and (min-width: 1440px) {

}