.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 10px 20px;
  background-color: var(--secondary-bg-color);
  position: static;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  flex: 1;
}

.logo img {
  height: 100px;  
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 24px;
  cursor: pointer;
}

.nav-list {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 10px;
  gap: 5px;
  position: absolute;
  top: 50px;
  left: 0;
  background: var(--secondary-bg-color);
  border-radius: 5px;
  z-index: 1000;
  width: 50%;
  height: 100%;
}

.nav-list.open {
  display: flex;
}

.nav-item {
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  white-space: nowrap;
}

.nav-item:hover {
  background-color: var(--secondary-bg-color);
  border: 5px;
  border-style: none none none solid;
  border-color: var(--primary-bg-color);    
  transition: background-color 0.3s ease;
}

.login {
  position: relative;
}

.dropdown-login {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--secondary-bg-color);
  list-style: none;
  padding: 0;
  margin-top: 5px;
  z-index: 1;
}

.dropdown-login.open {
  display: block;
  
}

.dropdown-login li {
  padding: 10px 15px;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-weight: bold;  
}

.dropdown-login li:hover {
  border: 5px;
  border-style: none none none solid;
  border-color: var(--primary-bg-color);    
  transition: background-color 0.3s ease;
}

.barra-navegacion-enlaces {
  display: flex;
  flex: 1;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  justify-items: center;
  flex-direction: row;
}

/*Responsive*/
/*Mobile Devices*/
@media only screen and (max-width: 767px) { 
  header.header nav.nav-menu {
    display: flex;
}

  .header {
    padding: 10px 10px;
  }

  .barra-navegacion-enlaces {
    display: none;
  } 

  .logo {
    padding: 10px 10px;
    align-items: center;
  }

  .logo img {
    height: 40px;
    margin-right: 0px;
  }

  .nav-list {
    gap: 5px;
  }


}

/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header.header nav.nav-menu {
    display: none;
  }

  .logo img {
    height: 50px;
    margin-right: 0px;
  }

  .nav-list {
    display: flex;
  }

}

/* Laptop Devices */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  header.header nav.nav-menu {
    display: none;
  }
 }

 /* Desktop Devices */
 @media only screen and (min-width: 1440px) {
  header.header nav.nav-menu {
    display: none;
  }
 }