.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #f0f0f0;
  position: relative;
}

/* Estilos generales del texto en las secciones */
.section-container {
  font-size: 2.5rem;
  color: var(--secondary-text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Animación para mostrar el contenido con fade-in */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.section-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  width: 80%;
  height: calc(100vh - 300px );
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--secondary-text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* Mostrar el texto solo al pasar el mouse */
.section-content:hover {
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

/* Estilos específicos de cada imagen */
.section-picture1,
.section-picture2,
.section-picture3 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Botones de navegación */
.nav-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--secondary-text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 2; /* Asegurar que los botones estén encima de las imágenes */
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/*Barra de Scroll*/
/**Ancho de la barra */
::-webkit-scrollbar {
  width: 10px;
}

/*Color y radio de la barra*/
::-webkit-scrollbar-track {
  background: #FBFCF8;
  border-radius: 50px;
}

/*Color y radio de la barra interna*/
::-webkit-scrollbar-thumb {
  background: #20527E;
  border-radius: 50px;
}

/*Responsive*/
/*Mobile Devices*/
@media only screen and (max-width: 767px) { 
  .main-content {  
      display: block;
      height: 500px;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  .section-container {
    height: 500px;
  }

  .section-content {
    font-size: 0.9rem;
    padding: 15px;
    height: 200px;    
  }  

  .nav-button {
    padding: 0;
    width: 40px;
    height: 50px;
  }

}

/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-content {
    font-size: 1.5rem;
    padding: 15px;
    height: 200px;    
  }

}

/* Laptop Devices */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  
}

/* Desktop Devices */
@media only screen and (min-width: 1440px) {
  
}